@import 'dev/variables.less';

#tooltip-sigmets {
    display: none;
    position:absolute;
    width: 300px;
    height: auto;
    background-color: rgba(0,0,0,0.75);
    font-size:0.9em;
    font-weight:normal;
    color:#fff;
    margin: 15px;
    text-align:left;
    line-height: 18px;
    z-index:99;
}
#tooltip-sigmets .heading, 
#tooltip-sigmets .body{
    padding:0.5em;
}
#tooltip-sigmets .body div{
    margin-bottom:0.5em;
}